<div class="container">
    <div class="row">
        <div class="col-6">
            <!-- image -->
            <img src="https://png.pngtree.com/png-vector/20230509/ourmid/pngtree-personal-flat-icon-vector-png-image_7092615.png" alt="">
        </div>
        <div class="col-6">
            <!-- login form -->
            <form class="m-5 p-5 border shadow">
                <div class="form-floating mb-3 ">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-success m-4 p-2">Login</button>
                  </div>
            </form>
        </div>
    </div>
</div>
